:root {
  --Green: 84, 230, 175;
  --Red: #fb3e3e;

  --Blue-950: 18, 23, 37;
  --Blue-900: #2c344b;
  --Blue-600: #5a668a;
  --Blue-300: #c2cbe5;

  --White: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Chivo, sans-serif;
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 100;
  color: var(--Blue-300);
  background-color: rgb(var(--Blue-950));

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(assets/desktop/image-host.jpg);
  background-position: right center;
  background-repeat: no-repeat;

  position: relative;
}

.landing-page::after {
  content: "";
  width: 23.2rem;
  height: 10.4rem;
  background-image: url(assets/desktop/bg-pattern-dots.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -5.2rem;
}

.landing-page__wrapper {
  padding-right: 38.4rem;
}

.landing-page__logo {
  margin-bottom: 10.4rem;
}

.landing-page__content {
  padding-top: 8.8rem;
  padding-right: 6.4rem;
  background-color: rgb(var(--Blue-950));
  width: 73.6rem;
  margin-right: 38.4;
}

.landing-page__heading {
  font-size: 4.8rem;
  line-height: 120%;
  font-weight: 200;
  color: var(--White);
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.landing-page__heading mark {
  color: rgb(var(--Green));
  background-color: inherit;
}

.landing-page__text {
  width: 44.8rem;
  margin-bottom: 4rem;
}

.landing-page__form {
  margin-bottom: 4rem;
}

.landing-page__logos {
  display: flex;
  align-items: center;
  gap: 4rem;
  opacity: 0.7;
  padding-top: 2.4rem;
}

.form {
  display: flex;
  align-items: center;
}

.form__input {
  background-color: var(--Blue-900);
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 200%;
  border: none;
  height: 5.2rem;
  border-radius: 5rem;
  color: var(--Blue-300);
  padding-left: 2.4rem;
  padding-right: 18.1rem;
  width: 44.8rem;
  font-weight: 700;
}

.form__input::placeholder {
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 200%;
  color: var(--Blue-300);
  font-weight: inherit;
}

.form__button,
.form__button:link,
.form__button:visited {
  font-family: inherit;
  align-self: stretch;
  width: 18.1rem;
  border: 0.4rem solid var(--Blue-900);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-color: rgb(var(--Green));
  color: rgb(var(--Blue-950));
  font-weight: 700;

  margin-left: -18.1rem;
  cursor: pointer;
}

.form__button:hover {
  background-color: var(--White);
  background-image: linear-gradient(
    rgba(var(--Green), 0.5),
    rgba(var(--Green), 0.5)
  );
}

@media screen and (max-width: 1160px) {
  html {
    font-size: 48.6111%;
  }
}

@media screen and (max-width: 1076px) {
  body {
    align-items: stretch;
  }

  .landing-page {
    background-image: linear-gradient(
        rgba(var(--Blue-950), 0.9),
        rgba(var(--Blue-950), 0.9)
      ),
      url(assets/tablet/image-host.jpg);
    background-size: cover;
    background-position: top;
    padding: 36px;
    justify-content: center;
  }

  .landing-page::after {
    display: none;
  }

  .landing-page__wrapper {
    padding-right: 0;
    margin-right: auto;
  }

  .landing-page__content {
    background-color: transparent;
    padding-right: 0;
  }
}

@media screen and (max-width: 609px) {
  .landing-page__wrapper {
    padding-top: 110.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  .landing-page__content {
    width: 100%;
    padding: 0;
  }

  .landing-page__logos {
    gap: 17.64px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .landing-page__logos img {
    height: 16.95px;
  }

  .landing-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing-page__text {
    width: 100%;
  }

  .form {
    order: 1;
    margin-top: 40px;
    flex-direction: column;
    gap: 8px;
  }

  .form__button,
  .form__button:link,
  .form__button:visited {
    margin-left: 0;
    height: 44px;
    width: 100%;
  }

  .form__input {
    width: 100%;
  }
}
